{% extends "base.html" %} {% block page_title %} Home {% endblock page_title %}
{% block content %}

<div class="container mx-auto">
    <div
        class="mb-24 bg-gray-800 bg-cover bg-center h-50vh mt-32 rounded-xl"
        style="
            background-image: url(https://images.unsplash.com/photo-1536315238512-4c8cebdaaf93?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop);
        "
    ></div>

    {% for room in rooms %} {% include 'partials/room_card.html' with room=room %} {% endfor %}

    <h4>
        {% if page_obj.has_previous %}
        <!--page 유효성 검사를 하므로 꼭 if문을 쓰고 태그를 주자 !-->
        <a href="?page={{page_obj.previous_page_number}}">Previous</a>
        {% endif %} Page {{page_obj.number}} of {{page_obj.paginator.num_pages}}
        {% if page_obj.has_next %}
        <a href="?page={{page_obj.next_page_number}}">Next</a>
        {% endif %}
    </h4>
</div>

{% endblock content %}
