{% extends "base.html" %}

{% block page_title %}
Edit Room
{% endblock page_title %}

{% block search_bar %}
{% endblock search_bar %}

{% block content %}
<div class="container mx-auto my-10 flex flex-col items-center  border border-gray-400 xl:w-2/6 lg:w-3/5 md:1/2 w-full p-4 rounded-xl">

    <form method='POST' action="{% url "rooms:edit" room.pk %}" class="mb-4 w-full" enctype="multipart/form-data">
        {% csrf_token %}

        {% if  form.non_field_errors %}
            {% for error in form.non_field_errors %}
                <span class="text-red-700 font-medium text-sm">{{error}}</span>
            {% endfor %}
        {% endif %}

        {% for field in form %}
            {% include 'partials/room/room_input.html' with field=field %}
        {% endfor %}

        <button class="btn bg-red-500 text-white font-semibold">Update Room</button>
        
        <div class="text-center mt-3">
            <a href="{% url 'rooms:photos' room.pk %}" class="text-teal-500">Edit Photos</a>
        </div>
    </form>
</div>
{% endblock content %}