{% extends "base.html" %}

{% block page_title %}
Log In
{% endblock page_title %}

{% block search_bar %}
{% endblock search_bar %}

{% block content %}

<div class="container mx-auto my-10 flex flex-col items-center border border-gray-400 xl:w-2/6 lg:w-3/5 md:1/2 w-full p-4 rounded-xl">
    {% include "partials/auth/social_login.html" %}

    <form method='POST' class="w-full mb-6">
        {% csrf_token %}

        {% if  form.non_field_errors %}
            {% for error in form.non_field_errors %}
                <span class="text-red-700 font-medium text-sm">{{error}}</span>
            {% endfor %}
        {% endif %}

        {% for field in form %}
            {% include 'partials/auth/form_input.html' with field=field %}
        {% endfor %}
            
        <button class="btn bg-red-400 text-white font-semibold">Login</button>
    </form>

    <div>
        <span class="mr-2">Don't have an account?</span>
        <a href="{% url "users:signup" %}" class="text-teal-500">Sign up</a>
    </div>
</div>
{% endblock content %}