{% extends "base.html" %}

{% block page_title %}
{{user_obj.first_name}}'s Profile
{% endblock page_title %}

{% block search_bar %}
{% endblock search_bar %}

{% block content %}
<div class="container mx-auto">
    <div class="mx-auto my-10 flex flex-col items-center border border-gray-400 lg:w-50vh md:w-50vh w-full p-5 rounded-xl">
        
        {% include "partials/auth/user_avatar.html" with user_obj=user_obj %}
            
        <div class="flex items-center mt-1">
            <span class="font-medium text-2xl">{{user_obj.first_name}}</span>
            
            {% if user_obj.superhost %} 
                <i class="fas fa-check-circle text-teal-400 ml-2 text-xl"></i>
            {% endif %}
        </div>

        <span class="text-md mb-5">{{user_obj.bio}}</span>
        
        {% if user == user_obj %}
            <a href="{% url 'users:update-profile' %}" class="btn_link">Edit Profile</a>
        {% endif %}
            
    </div>

    {% if user_obj.rooms.count > 0 %}    
        <div class="mx-auto flex flex-col items-center">
            <h3 class="mb-6 w-full border-b border-gray-400 text-2xl ">{{user_obj.first_name}}'s Rooms</h3>

            <div class="flex flex-wrap">
                {% for room in user_obj.rooms.all %} {% include 'partials/room_card.html' with room=room %} {% endfor %}
            </div>
        </div>
    {% endif %}
</div>
{% endblock content %}